html {
  scroll-snap-type: y mandatory;
}

.app {
  /*snap kicks in on view height of device*/
  height: 100vh;
  background: black;
  display: grid;
  place-items: center;
}

.app_videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

.app_vidoes::-webkit-scrollbar {
  display: none;
}

.app_videos {
  -ms-overflow-style: y;
  scrollbar-width: none;
}
